---
title: "Penetration Testing Report"
date: 2025-05-06
img_path: /assets/img/pentesting-report/
categories: [Projects]
tags: [Penetration Testing, Nmap, Metasploit, Privilege Escalation, CVSS Scoring, MITRE ATT&CK, Brute Force, Reverse Shells, Linux Enumeration, Windows Exploitation, Vulnerability Assessment, Reporting, OSCP Prep, Ethical Hacking, Red Team Simulation]
image:
  path: penteststages.png
---

# Penetration Testing Report
